@font-face {
	font-family: PlayfairDisplay;
	font-display: swap;
	src: url("../fonts/PlayfairDisplay-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: PlayfairDisplay;
	font-display: swap;
	src: url("../fonts/PlayfairDisplay-MediumItalic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: PlayfairDisplay;
	font-display: swap;
	src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SourceSans3;
	font-display: swap;
	src: url("../fonts/SourceSans3-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SplineSans;
	font-display: swap;
	src: url("../fonts/SplineSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
