$bg-color: #000;
$font-color: #F5EBEB;
$accent-color: #A93B59;
$third-accent-color: #B96A7F;
$second-accent-color: rgba(185, 106, 127, 0.5);
$list-bg-color: #C9A1AC;
$select-color: #55B8FF;
$select-panel-bg: #B96A7F;
$header-bg-color: #6F6567;