@font-face {
    font-family: "Playfair-regular";
    src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Playfair-italic";
    src: url("../fonts/PlayfairDisplay-MediumItalic.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Playfair-bold";
    src: url("../fonts/PlayfairDisplay-ExtraBold.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Source";
    src: url("../fonts/SourceSans3-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Source-light";
    src: url("../fonts/SourceSans3-Regular.woff2") format("woff2");
    font-weight: 100;
}

@font-face {
    font-family: "Source-bold";
    src: url("../fonts/SourceSans3-Regular.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Spline";
    src: url("../fonts/SplineSans-Regular.woff2") format("woff2");
    font-weight: 400;
}